<div
  class="contenido-scroll overflow-y-scroll max-[300px]:w-auto w-full h-full min-h-screen bg-no-repeat bg-cover bg-center
     flex flex-row" style="background-color: #e8e8e8;">

  <div class="  w-full  flex  flex-col">
    <div class="w-full h-48  items-center justify-center rounded-2xl pr-[0em] min-[1330px]:pr-[6em] bg-yellow2">
      <div class="flex justify-between pt-5">
        <div>
          <button type="submit" (click)="volver()" class="rounded-full text-lg font-semibold text-white font-sans w-28 h-8">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
          </button>
        </div>
        <div>
            <button type="submit" class="rounded-full text-lg font-semibold text-white font-sans w-28 h-8">
              <fa-icon [icon]="faBars"></fa-icon>
            </button>
        </div>
      </div>
      <div>
        <p class="text-white font-bold flex justify-center ml-5 mt-10 text-5xl">FORGOT PASSWORD</p>
      </div>
    </div>
    <div class="pr-7 pl-7  py-5 h-128">
      <form class="space-y-6 mb-7" [formGroup]="form">
      <div class="flex flex-row">
        <div class="items-center justify-center">
          <div class="flex items-center justify-center">
            <button type="submit" class="rounded-full text-6xl font-semibold text-yellow2 font-sans w-28 h-8">
              <fa-icon [icon]="faLock"></fa-icon>
            </button>
          </div>
          <div class="flex items-center justify-center pt-10">
            <p class="font-bold">Trouble Logging in?</p>
          </div>
          <div class="flex items-center justify-center">
            <p>Enter your email and we'll send you a link to reset your password.</p>
          </div>
        </div>
      </div>
        <div>
          <app-field-input [parentForm]="form" fieldName="userName" formControlName="userName"
            holder="Email"></app-field-input>
        </div>

      </form>
      <div class="ButtonIngresar">
          <button type="submit" class="flex items-center justify-center max-[350px]:ml-0 rounded-full py-3 px-6 text-lg font-bold lg:text-sm  xl:text-base bg-yellow2 text-white font-sans w-full h-10">
            <span>Reset Password</span>
          </button>
      </div>
    </div>
    <div class="bg-yellow2 h-10 flex justify-center">
      <div class="flex items-center justify-center">
        <p class=" text-white">Return to Login Page</p>
      </div>
    </div>

  </div>

</div>



