<div class="fixed w-full h-full bg-[#000000a1] z-last flex items-center justify-center flex-wrap backdrop-blur-[2px]" *ngIf="isLoading$ | async"  >
    <div class="text-center">
        <!-- <div class="loader"></div> -->
        <img class="w-[14em]" src="../../../../assets/img/gif/CargadorLIS.gif" alt="">
        <span class="relative top-[-3em] rigth-[8.3em] text-white">{{porcentajeMax}}  &nbsp;%</span>

        <div style="height: 3em;">
            <div class="font-semibold text-white mr-[3em] text" *ngIf="porcentajeMax<3">
                {{dataText.text}}
            </div>
    
            <div class="font-semibold text-white mr-[3em] text" *ngIf="porcentajeMax>3 && porcentajeMax<7">
                {{dataText.text1}}
            </div>
    
            <div class="font-semibold text-white mr-[3em] text" *ngIf="porcentajeMax>7">
                {{dataText.text2}}
            </div>
        </div>
    </div>
</div>
