<div>
  <label [for]="id"
         class="block text-xs xl:text-sm 3xl:text-lg font-medium leading-6 pl-3"
         [ngClass]="colors">
      <ng-content></ng-content>
  </label>
  <div class="relative mt-1 rounded-md shadow-sm">
    <select [name]="id" [id]="id"
      [ngClass]="colors"
      class="block w-full rounded-3xl border-0 py-1.5 pl-4 pr-11 text-xs xl:text-sm 3xl:text-lg sm:leading-6 text-neutral700 ring-1 ring-inset placeholder:text-neutral400"
    >
      <option *ngIf="defaultValue" selected>{{ defaultValue }}</option>
      <ng-container *ngIf="allValues?.length" >
        <ng-container *ngFor="let select of allValues">
          <option [value]="select.value">
            {{ select.content }}
          </option>
        </ng-container>
      </ng-container>
    </select>
  </div>
</div>