.detalle-resultado {
  &-title {
    padding: 0.25rem;

    @media screen and (min-height: 600px) {
      padding: 1rem;
    }
  }
  &-paciente {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    
    @media screen and (min-height: 600px) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  &-header {
    padding-bottom: 0.75rem;

    @media screen and (min-height: 600px) {
      padding-bottom: 1.25rem;
    }
  }
  &-left {
    gap: 0.75rem;
    @media screen and (min-height: 600px) {
      gap: 2rem;
    }
  }
  &-solicitud {
    padding: 0.5rem;

    @media screen and (min-height: 600px) {
      padding: 1.25rem;
    }
  }
  &-pdf{
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media screen and (min-height: 600px) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  &-pdfbuttons {
    @media screen and (min-height: 600px) {
      padding-top: 1.25rem;
    }
  }
  &-view {
    column-gap: 0.2rem;

    @media screen and (min-height: 600px) {
      column-gap: 1.25rem;
    }
  }
}

