<!-- Panel modal, mostrar/ocultar según el estado del modal. -->
<div class="relative transform rounded-lg bg-white text-left shadow-xl transition-all overflow-visible sm:my-8 ">
  <div class=" flex justify-center h-3 rounded-tr-lg rounded-tl-lg" [ngStyle]="{backgroundColor: data.color}">
    <img class="absolute top-[-50px] modal-image" [src]="data.img" alt="">
  </div>
  <div class="bg-white px-4 pb-4 lg:pt-10 sm:p-6 sm:pb-4">
    <div class="sm:flex sm:items-start">
      <!-- Icono del centro de la pantalla -->
      <div class="mt-3 text-center w-full sm:ml-4 sm:mt-0 sm:text-center">
        <span *ngIf="data.warningMessage" class="block text-red-400 font-bold mb-4">
          *{{data.warningMessage}}
        </span>
        <!-- Título del modal -->
        <h3 class="text-base font-semibold leading-6 text-neutral700 mt-9 sm:mt-4 md:mt-0" id="modal-title" *ngIf="data.title">
          {{data.title}}
        </h3>
        <div class="mt-2">
          <!-- Descripción del modal -->
          <p class="text-base" *ngFor="let des of data.description">{{des}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Botones del modal -->
  <div class="px-4 py-3 flex justify-center gap-x-6 sm:px-6" *ngIf="data.footer">
    <app-buttons [label]="data.firstButton.label" (click)="acceptDialog()" [height]="'8'" [button]="2"
      [color]="data.firstButton.color" [colorHover]="data.firstButton.hover" ></app-buttons>
    <app-buttons *ngIf="data.secondButton" (click)="clickLogout()" [colorHover]="data.secondButton.hover"
      [height]="'8'" [button]="2" [label]="data.secondButton.label" [color]="data.secondButton.color">
    </app-buttons>
  </div>
</div>
