<div class="grid md:grid-cols-6">
    <!-- content wrapper -->
    <div class="md:col-span-1">

      <nav class="text-right">
        <div class="h-20 bg-stone-950 flex justify-between items-center">
          <h1 class="font-bold uppercase p-4 border-b border-gray-100">
            <a href="/" class="hover:text-yellow-400 text-white">Calientito app</a>
          </h1>
          <button class="px-4 cursor-pointer md:hidden"  (click)="OpenMenu()">
            <fa-icon class="w-6 ml-2 text-white" [icon]="faBars"></fa-icon>
          </button>
        </div>
        <ul  [ngClass]="{'hidden md:block': isOpen == false, 'text-sm mt-6 ': isOpen == true} "  id="menu">
          <li class="text-gray-700 font-bold py-1">
            <a routerLink="/home" class="px-4 flex justify-end border-r-4 border-primary">
              <span>Home</span>
              <fa-icon class="w-5 ml-2" [icon]="faHome"></fa-icon>
            </a>
          </li>
          <li class="py-1">
            <a routerLink="/aboutus" class="px-4 flex justify-end border-r-4 border-white">
              <span>About Us</span>
            </a>
          </li>
          <li class="py-1" *ngIf="dataUser.idPerfil != 2">
            <a routerLink="/likes" class="px-4 flex justify-end border-r-4 border-white">
              <span>Favorites</span>
              <fa-icon class="w-5 ml-2" [icon]="faHeart"></fa-icon>
            </a>
          </li>
          <li class="py-1" *ngIf="dataUser.idPerfil != 3 && dataUser.idPerfil != 2">
            <a routerLink="/configuration" class="px-4 flex justify-end border-r-4 border-white">
              <span>Configuration</span>
              <fa-icon class="w-5 ml-2" [icon]="faGears"></fa-icon>
            </a>
          </li>
          <li class="py-1">
            <a routerLink="/myProfile" class="px-4 flex justify-end border-r-4 border-white">
              <span>My Profile</span>
              <fa-icon class="w-5 ml-2" [icon]="faCircleUser"></fa-icon>
            </a>
          </li>
          <li class="py-1">
            <a routerLink="/help" class="px-4 flex justify-end border-r-4 border-white">
              <span>Help</span>
              <fa-icon class="w-5 ml-2" [icon]="faCircleQuestion"></fa-icon>
            </a>
          </li>
          <li class="py-1" *ngIf="dataUser.idPerfil != 2">
            <a routerLink="/bakeries" class="px-4 flex justify-end border-r-4 border-white">
              <span>Bakeries</span>
              <fa-icon class="w-5 ml-2" [icon]="faStore"></fa-icon>
            </a>
          </li>
          <li class="py-1">
            <a routerLink="/category" class="px-4 flex justify-end border-r-4 border-white">
              <span>Products</span>
              <fa-icon class="w-5 ml-2" [icon]="faBreadSlice"></fa-icon>
            </a>
          </li>
          <li class="py-1" *ngIf="dataUser.idPerfil != 2">
            <a routerLink="/maps" class="px-4 flex justify-end border-r-4 border-white">
              <span>Maps</span>
              <fa-icon class="w-5 ml-2" [icon]="faMapLocationDot"></fa-icon>
            </a>
          </li>
          <li class="py-1" *ngIf="dataUser.idPerfil != 2 && dataUser.idPerfil != 3">
            <a routerLink="/shoppingCart" class="px-4 flex justify-end border-r-4 border-white">
              <span>Shopping Cart</span>
              <fa-icon class="w-5 ml-2" [icon]="faCartShopping"></fa-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  <!-- content wrapper -->
  <main class="px-16 py-6 bg-gray-100 md:col-span-5 h-screen">

    <div>
      <div class="mt-8 grid grid-cols-2 gap-4">
        <!-- cards go here -->
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pandebono</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Buñuelos</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan Maiz</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan especial</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan saludable</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan queso</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
      </div>

      <h4 class="font-bold mt-12 pb-2 border-b border-gray-200">Most Popular</h4>
      <div class="mt-8">
        <!-- cards go here -->
      </div>
      <div class="flex justify-center">
        <div class="bg-secondary-100 text-secondary-200">Load more</div>
      </div>
    </div>
  </main>
</div>
