<div>
  <!-- content wrapper -->
  <div>
    <nav>
      <div class="h-20 bg-stone-950">
        <h1 class="font-bold uppercase p-4 border-b border-gray-100">
          <a href="/" class="text-yellow-400 flex justify-center">Calientito app</a>
        </h1>
      </div>
    </nav>
  </div>
  <!--end nav-->
  <main class="px-16 py-6 bg-gray-100">

    <div>
      <div class="mt-8 grid grid-cols-2 gap-4">
        <!-- cards go here -->
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pandebono</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Buñuelos</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan Maiz</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan especial</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan saludable</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
        <div class="bg-yellow2 rounded overflow-hidden shadow-md p-4 mb-5 grid justify-center">
          <span class="font-bold flex justify-center text-xl">Pan queso</span>
          <img class="h-48 w-auto"
            src="assets/img/personal_panaderia.jpg"
            alt="personal_panaderia"
          />
          <fa-icon [icon]="faHeart" class="text-red-500 text-2xl flex justify-center mt-4"></fa-icon>
        </div>
      </div>

      <h4 class="font-bold mt-12 pb-2 border-b border-gray-200">Most Popular</h4>
      <div class="mt-8">
        <!-- cards go here -->
      </div>
      <div class="flex justify-center">
        <div class="bg-secondary-100 text-secondary-200">Load more</div>
      </div>
    </div>
  </main>
</div>
