<!--Card-->
<div >
  <div class="rounded-t-lg bg-sky700 h-5 flex flex-row  xl:h-7 items-center justify-center">
    <h3 class="text-xs font-bold text-white xl:text-sm">Fecha:</h3>
    <p class="text-xs font-bold text-white ml-2 xl:text-sm">{{dataResults.requestDate}}</p>
  </div>
  <div class="flex flex-row">
    <div class=" h-fit group shadow-lg">
      <div class="relative overflow-hidden flex">
        <div class="flex items-center h-24">
          <div class="rounded-l-lg  p-3 space-y-3">
            <div class="grid grid-cols-2 gap-2">
              <div class="flex flex-row text-xs xl:text-sm font-bold">
                <p class="text-sky700">Solicitud Nº </p>
                <p class="ml-2 ">{{dataResults.requestNumber}}</p>
              </div>
              <div class="flex flex-row justify-end text-xs xl:text-sm font-bold">
                <p class="">Estado </p>
                <p class="ml-2 " [ngClass]="dataResults.requestStatus=='Finalizados' ?'text-sky500': dataResults.requestStatus=='Resultado parcial'?'text-orange500': dataResults.requestStatus=='En espera de resultados'? 'text-neutral500':dataResults.requestStatus=='Con resultado'? 'text-sky500':'text-orange500'"> {{dataResults.requestStatus}}</p>
              </div>
            </div>
            <div class="flex flex-row text-xs xl:text-sm font-bold">
              <p class="text-sky700">Examenes </p>
              <p class="ml-2">{{dataResults.exams}}</p>
            </div>
          </div>
        </div>
        <div
          class="absolute h-full w-full bg-white flex items-center justify-center bottom-10 group-hover:bottom-0 group-hover:w-full opacity-0 group-hover:opacity-100 transition-all duration-300">
          <h3 class="text-sm font-bold ml-2 text-sky-400">Ver resultados </h3>
        </div>
      </div>
    </div>
    <div class="rounded-r-lg  w-4 h-24 flex items-center justify-center" [ngClass]="dataResults.requestStatus=='Finalizados' ?'bg-sky500': dataResults.requestStatus=='Resultado parcial'?'bg-orange500': dataResults.requestStatus=='En espera de resultados'? 'bg-neutral500':dataResults.requestStatus=='Con resultado'? 'bg-sky500':'bg-orange500'">
      <button class="text-sm font-bold  text-white ">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>
    </div>
  </div>
</div>
