<div class="toggle-list w-full h-30 text-sky700">
  <div class="hidden lg:flex lg:justify-end mb-5">
    <div [ngClass]="{'hidden': currentView === allOptions.TABLE}" class="text-right ">
      <fa-icon tooltip="Tarjetas" class="hover:text-sky500 cursor-pointer" [options]="defaultOptionsTooltip" [icon]="faGripVertical" (click)="toggleView(allOptions.TABLE)" [size]="sizeIcons"></fa-icon>
    </div>
    <div [ngClass]="{'hidden': currentView === allOptions.GRID}" class="text-right ">
      <fa-icon tooltip="Listas" class="hover:text-sky500 cursor-pointer" [options]="defaultOptionsTooltip" [icon]="faListUl" (click)="toggleView(allOptions.GRID)" [size]="sizeIcons"></fa-icon>
    </div>
  </div>
</div>