<div class="static w-full">
  <label class="block text-sm font-medium leading-6 pl-3 text-sky500 w-full whitespace-nowrap text-ellipsis overflow-hidden">
    <ng-content></ng-content>
  </label>

  <label class="block text-sm font-medium leading-6 pl-3 w-full whitespace-nowrap text-ellipsis overflow-hidden" [class]="formField.invalid && (formField.dirty || formField.touched) ?
      'text-rose600' :
      (formField.valid && (formField.value!='' && formField.value!=null && formField.value!=undefined)) ?
        'text-sky500 hover:text-cyan500' :
        'text-sky500 hover:text-cyan500'">
    <ng-content></ng-content>
  </label>
  <div class="sm:relative">
    <button type="button"
      [class]="formField.invalid && (formField.dirty || formField.touched)?'ring-rose600':(formField.valid && (formField.value!='' && formField.value!=null && formField.value!=undefined))?'ring-sky500 hover:ring-sky700 hover:input-ring':'ring-sky500 hover:ring-sky700 hover:input-ring'"
      class="custom-select-button relative w-full cursor-pointer rounded-3xl bg-white py-1.5 pl-3 pr-10
      text-left text-neutral700 shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2
      sm:text-sm leading-tight h-10 mt-1" (click)="toggleOptions()"
      [attr.aria-expanded]="isExpanded ? 'true' : 'false'" [attr.aria-haspopup]="isExpanded ? 'listbox' : null"
      [attr.aria-labelledby]="'listbox-label-' + id" (keydown)="onKeyDown($event)">
      <span class="flex items-center">
        <span class="ml-3 block truncate">{{ selectedOption }}</span>
      </span>
      <span class="pointer-events-none absolute inset-y-0 right-1.5 flex items-center pr-2">
        <fa-icon [icon]="down" class="text-neutral400 -mt-2"></fa-icon>
      </span>
    </button>

    <ul class="sm:absolute lg:fixed custom-select-options z-10 mt-1 max-h-56 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1
     ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" [hidden]="!isExpanded"
      [ngStyle]="{width: dropdownWidth}">
      <input
        class="w-full h-10 border-0 font-light text-neutral700 cursor-pointer py-2 pl-3 pr-9 placeholder:text-neutral400 focus:outline-none"
        type="text" [formControl]="filter" placeholder="Buscar |" [ngClass]="{'bg-sky-100' : selectedIndex==-1}"
        [attr.aria-selected]="-1 === selectedIndex? 'true' : 'false'">

      <li
        class="custom-select-option text-neutral700 relative cursor-pointer select-none py-2 pl-3 pr-9 hover:bg-sky-100"
        [ngClass]="{'bg-sky-100' : selectedIndex==i}" *ngFor="let option of optionsList; let i = index"
        (click)="selectOption(option.id)" [attr.id]="'listbox-option-' + id + '-' + i" [attr.role]="'option'"
        [attr.aria-selected]="i === selectedIndex ? 'true' : 'false'">
        <div class="flex items-center">
          <span class="font-normal ml-3 block truncate">{{ option.name }}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="text-rose600 text-xs ml-3 fixed" *ngIf="formField.invalid && (formField.dirty || formField.touched)" >
    <span >{{ fieldError.getFormFieldError(parentForm, fieldName) }}</span>
  </div>
</div>
