.card-view {
  max-width: 96%;
  &-container{
    border-radius: 10px;
    &-data {
      flex-basis: 75%;
      @media (min-width: 768px) {
        flex: 1;
      }
    }
    &-actions{
      flex-basis: 100%;
      @media (min-width: 768px) {
        flex-basis: fit-content;
      }
    }
    &-active{
      flex-basis: 24%;
      position: relative;
      z-index: 1;
    
      @media (min-width: 768px) {
        flex-basis: 10%;
      }
      @media (min-width: 1280px) {
        flex-basis: 7%;
      }
      
      &::before {
        @media (min-width: 768px) {
          content: "";
          position: absolute;
          top: 0;
          right: 30px;
          width: 40px;
          height: 100%;
          border-radius: 50% 0 0 50%;
        }
      }
    }
  }
}

.break-word {
  word-break: break-word;
}

.remember-me {
  outline: 1px solid #FE8200;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  &:hover {
    outline: 1px solid #FFA340;
  }
  &:checked {
    outline: 0 !important;
  }
}

.remember-me::before {
  outline: 1px solid #FFA340 !important;
  color: transparent !important;
  background: #fff;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}
.remember-me:checked:before {
  background: #FFA340;
	content: "\2714";
	color: white !important;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
}