<div class="card-view">
  <ng-container *ngFor="let row of data; let indexData = index">
    <div class="relative card-view-container flex shadow-md hover:shadow-lg flex-wrap overflow-y-hidden mb-4"
      [ngClass]="{ 'bg-zinc200': row[keyMap['Activo']] == false, 'pl-5': type == 2 }">
      <div
        class="card-view-container-data gap-x-2 break-word py-3 pl-4 order-1 grid grid-flow-row grid-cols-1 items-start lg:items-center grid-rows-1 gap-y-2 md:grid-flow-col md:grid-cols-2 md:grid-rows-2 md:gap-y-4 xl:grid-cols-4 xl:grid-rows-1"
        [ngClass]="{'!px-0' : type == 2}">
        <ng-container *ngFor="let header of headersTitles">
          <ng-container *ngIf="!allowHeaders.includes(header);">
            <div class="text-xs">
              <strong [ngClass]="row[keyMap['Activo']] ? 'text-neutral700 md:text-sky700' : 'text-neutral500'">
               {{header}}
              </strong>:
              <span [ngClass]="{ 'text-neutral500': row[keyMap['Activo']] == false }">
                <ng-container *ngIf="quantityShortText">
                  <ng-container *ngIf="tooltipOptions.enable">
                    <ng-container *ngIf="row[keyMap[header]]?.length > quantityShortText; else onlyText">
                      <span [tooltip]="row[keyMap[header]]" [options]="tooltipOptions">
                        {{ row[keyMap[header]] | shortText: quantityShortText }}
                      </span>
                    </ng-container>
                    <ng-template #onlyText>
                      {{ row[keyMap[header]] | shortText: quantityShortText }}
                    </ng-template>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!quantityShortText">
                  {{ row[keyMap[header]] }}
                </ng-container>
              </span>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div
        class="card-view-container-actions flex flex-wrap justify-center gap-x-2 items-center order-3 md:order-2 md:justify-start mb-4 mt-3 md:my-0 md:gap-x-2 lg:flex-nowrap xl:gap-x-6">
        <ng-container *ngFor="let header of headersActions">
          <ng-container [ngSwitch]="header">
            <ng-container *ngSwitchCase="'Resultados'">
              <p *ngIf="row[keyMap['Estado']]=='En espera de resultados'">-</p>
              <app-buttons [typeBtn]="'submit'" [color]="'primary'" [button]="1" label="Consultar"
                *ngIf="row[keyMap['Estado']]!='En espera de resultados'" (click)="result.emit(row[keyMap['Id']])">
              </app-buttons>
            </ng-container>
            <ng-container *ngSwitchCase="'Editar'">
              <ng-container *ngIf="row[keyMap['Activo']] == null; else validateAction">
                <ng-container *ngTemplateOutlet="editActive"></ng-container>
              </ng-container>
              <ng-template #validateAction>
                <ng-container *ngIf="row[keyMap['Activo']]">
                  <ng-container *ngTemplateOutlet="editActive"></ng-container>
                </ng-container>
                <ng-container *ngIf="!row[keyMap['Activo']]">
                  <div
                    class="bg-neutral400 text-white px-2 py-1 rounded-xl text-sm flex gap-x-1 items-center">
                    <span>
                      Editar
                    </span>
                    <fa-icon [icon]="iconEdit" class="text-base leading-none">
                    </fa-icon>
                  </div>
                </ng-container>
              </ng-template>

              <ng-template #editActive>
                <div (click)="resultWithHeader.emit({ header: 'Editar', id: row[keyMap[idOut]] })"
                  class="bg-blue-500 text-white px-2 py-1 rounded-xl cursor-pointer text-sm hover:bg-blue-300 flex gap-x-1 items-center">
                  <span>
                    Editar
                  </span>
                  <fa-icon [icon]="iconEdit" class="text-base leading-none">
                  </fa-icon>
                </div>
              </ng-template>

            </ng-container>
            <ng-container *ngSwitchCase="'Detalles'">
              <div (click)="resultWithHeader.emit({ header: 'Detalles', id: row[keyMap[idOut]] })"
                class="bg-indigo600 text-white px-2 py-1 rounded-xl cursor-pointer text-sm hover:bg-lavenderBlue flex gap-x-1 items-center">
                <span>
                  Detalles
                </span>
                <fa-icon [icon]="iconDetails" class="text-base leading-none">
                </fa-icon>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'DetalleProducto'">
              <div (click)="resultWithHeader.emit({ header: 'DetalleProducto', id: row[keyMap[idOut]] })"
                class="bg-indigo600 text-white px-2 py-1 rounded-xl cursor-pointer text-sm hover:bg-lavenderBlue flex gap-x-1 items-center">
                <span>
                  Detalle producto
                </span>
                <fa-icon [icon]="iconDetails" class="text-base leading-none">
                </fa-icon>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Eliminar'">
              <div (click)="resultWithHeader.emit({ header: 'Eliminar', id: row[keyMap[idOut]] })"
                class="bg-red-500 text-white px-2 py-1 rounded-xl cursor-pointer text-sm hover:bg-red-300 flex gap-x-1 items-center">
                <span>
                  Eliminar
                </span>
                <fa-icon [icon]="iconDelete" class="text-xl leading-none">
                </fa-icon>
              </div>
            </ng-container>

            <!-- Empresas -->
            <ng-container *ngSwitchCase="'Detalle'">
              <app-buttons [typeBtn]="'submit'" [color]="'sky'" [button]="2" label="Detalle"
                (click)="button.emit([0, row['id'], row['idRequest']])"></app-buttons>
            </ng-container>

            <ng-container *ngSwitchCase="'Descargar'">
              <app-buttons [typeBtn]="'submit'" [color]="'cyan'" [button]="2" label="Descargar"
                (click)="button.emit([1, row['id'], row['idRequest']])"></app-buttons>
            </ng-container>

            <ng-container *ngSwitchCase="'Enviar al correo'">
              <app-buttons [typeBtn]="'submit'" [color]="'indigo'" [button]="2" label="Enviar al correo"
                (click)="button.emit([2, row['id'], row['idRequest']])"></app-buttons>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <!-- <div *ngIf="type==1"
        class="card-view-container-active flex justify-end order-2 pr-3 pt-3 md:pt-0 md:before:border-l-2 md:order-3 md:items-center">
        <app-toggle [identity]="indexData.toString()" [active]="row[keyMap['Activo']]"
          (getValue)="changeStatus($event, indexData)"></app-toggle>
      </div> -->

      <div *ngIf="type==2" class="absolute top-2 right-2">
        <input type="checkbox" id="checkbox-{{indexData}}" [checked]="row['selected']"
        class="w-4 h-4 rounded remember-me form-checkbox"
          (click)="checked.emit(row['id'])">
      </div>

      <div class="absolute left-0 h-full w-2 rounded-lg" *ngIf="type==2"
        [ngClass]="row[keyMap['Estado']]=='Finalizado' ?'bg-teal500':row[keyMap['Estado']]=='Finalizados' ?'bg-teal500': row[keyMap['Estado']]=='Resultado parcial'?'bg-orange500': row[keyMap['Estado']]=='En espera de resultados'? 'bg-neutral500':row[keyMap['Estado']]=='Con resultado'? 'bg-sky700':''">
      </div>
    </div>
  </ng-container>
</div>
