
<div class="relative">
  <label *ngIf="showDatePicker"  for="dateRange" class="block text-sm font-medium leading-6 pl-3 pb-1"
  [class]="'text-sky500'"
  >Rango de fechas:</label>
  <div *ngIf="showDatePicker"  class="flex items-center rounded ">

    <input type="text"  (click)="toggleDatePicker()" [class]="'ring-sky500 hover:ring-sky700 hover:input-ring'" class=" block w-full rounded-3xl border-0 border- py-1.5 pl-4 pr-11 text-neutral700 ring-1 ring-inset placeholder:text-neutral400 focus:ring-2 focus:ring-inset sm:text-sm leading-tight h-10"
     id="dateRange" name="dateRange" [(ngModel)]="startDate==''?'':clearDate?'':startDate + ' - ' + endDate" readonly placeholder="Selecciona una fecha" #dateInput>
  </div>
  <div *ngIf="!showDatePicker"  class="mt-2">
    <p class="block text-sm font-medium leading-6 pl-3 {{(startDate=='' || endDate=='') && !validInput?'text-rose600':'text-sky500'}} hover:ring-sky700 hover:input-ring">{{startDate==''?'Fecha inicial':'Fecha final'}}</p>
    <input type="date" [(ngModel)]="date"   (input)="dateSelected()"
    [class]="(startDate=='' || endDate=='') && !validInput?'ring-rose600':'ring-sky500'" class="block w-full rounded-3xl border-0 border- py-1.5 pl-4 pr-11 text-neutral700 ring-1 ring-inset placeholder:text-neutral400 focus:ring-2 focus:ring-inset sm:text-sm leading-tight h-10"
     placeholder="Fecha inicial">
  </div>
</div>

<!-- <div class="relative">
  <label *ngIf="showDatePicker"  for="dateRange" class="block text-sm font-medium leading-6 pl-3 pb-1"
  [class]="'text-sky-500'"
  >Rango de fechas:</label>
  <div *ngIf="showDatePicker"  class="flex items-center rounded ">

    <input type="text" (input)="Change($event)" (click)="toggleDatePicker()" [class]="'ring-sky-500 hover:ring-sky700 hover:input-ring'" class=" block w-full rounded-3xl border-0 border- py-1.5 pl-4 pr-11 text-neutral700 ring-1 ring-inset placeholder:text-neutral400 focus:ring-2 focus:ring-inset sm:text-sm leading-tight h-10"
     id="dateRange" name="dateRange" [(ngModel)]="rangeDate" readonly placeholder="Selecciona una fecha" #dateInput>

  </div>
  <div *ngIf="!showDatePicker && startDate === ''"  class="mt-2" >
    <p class="block text-sm font-medium leading-6 pl-3 {{(startDate=='') && !validInput?'text-rose-600':'text-sky-500'}} hover:ring-sky700 hover:input-ring">Fecha inicial</p>
    <input type="date" [(ngModel)]="startDate"   (input)="Change($event)" id="initialDate"
    [class]="(startDate=='') && !validInput?'ring-rose-600':'ring-sky-500'" class="block w-full rounded-3xl border-0 border- py-1.5 pl-4 pr-11 text-neutral700 ring-1 ring-inset placeholder:text-neutral400 focus:ring-2 focus:ring-inset sm:text-sm leading-tight h-10"
     placeholder="Fecha inicial">
  </div>
  <div *ngIf="!showDatePicker && endDate === '' && startDate !== ''"  class="mt-2">
    <p class="block text-sm font-medium leading-6 pl-3 {{(endDate=='') && !validInput?'text-rose-600':'text-sky-500'}} hover:ring-sky700 hover:input-ring">Fecha final</p>
    <input type="date" [(ngModel)]="endDate"   (input)="dateSelected();Change($event)" id="initialDate"
    [class]="(endDate=='') && !validInput?'ring-rose-600':'ring-sky-500'" class="block w-full rounded-3xl border-0 border- py-1.5 pl-4 pr-11 text-neutral700 ring-1 ring-inset placeholder:text-neutral400 focus:ring-2 focus:ring-inset sm:text-sm leading-tight h-10"
     placeholder="Fecha inicial">
  </div>
</div> -->




